<div class="page-header">
  <h1>Please fill out the form below!<small>Subtext for header</small></h1>
</div>

<form action="/user/new" method="POST">
  <div class="input-group input-group-lg">
    <span class="input-group-addon">Email</span>
    <input type="text" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon">Username</span>
    <input type="text" class="form-control" placeholder="Username" name="user_name">
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon">Password</span>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon">Password Confirmation</span>
    <input type="password" class="form-control" placeholder="Password" name="password_confirmation">
  </div>

  <input type="submit" value="Sign-up" class="btn default navbar-btn">
</form>