<h1>Sign Up</h1>

<form action="/user/sign_up" method="post">
  <label for"email">Email:</label><br>
  <input type="text" name="user[email]">
  <label for"email">User Name:</label><br>
  <input type="text" name="user[user_name]">
  <label for"email">Password:</label><br>
  <input type="password" name="user[password]">
  <label for"email">Password Confirmation:</label><br>
  <input type="password" name"user[password_confirmation]">
  <input type="submit" value="Sign me up Bitch">
</form>